[Unit]
Description=Timer to check battery status
Requires=/home/$USER/.config/systemd/user/check-battery.service

[Timer]
OnActiveSec=1min
OnUnitActiveSec=1min
Unit=/home/$USER/.config/systemd/user/check-battery.service

[Install]
WantedBy=timers.target

